<?xml version="1.0"?>

<launch>
    <node pkg="robofest_nuc" type="lane_detect_car.py" name="lane_driver_driver" output="screen">
    	<!-- <remap from="image" to="image_raw/compressed" /> -->
    	<remap from="control" to="nuc/car/control_raw" /> 
    	<remap from="odomentry" to="nuc/car/odom_raw" /> 
    	<remap from="ranges" to="nuc/car/ranges_raw" /> 
    	<remap from="scan" to="nuc/scan" /> 
    </node> 
</launch>
